**/.DS_Store
.DS_Store
templates_development_html/.DS_Store
templates_development_html/neuro/.DS_Store
templates_development_word/neuro/.DS_Store
*.afphoto

# emacs
*~
*#

# latex Source: https://gist.github.com/kogakure/149016
*.aux
*.log
*.toc
*.dvi
*.out
*.synctex.gz
*.pdf